// SCSS Text Writing Animation - By Isaac Louzeiro on Codepen
// Access on https://codepen.io/isaaclouzeiro/pen/gOeMrvM

$font-size: .94em;
$height-size: $font-size + .3em;
$espaco-letra: 0.53em;
$quantidade-espacos: 23.7;
$width-size: $espaco-letra * $quantidade-espacos;

@keyframes digitar {
    from { width: 0; }
    to { width: $width-size; }
}

@keyframes piscando {
    from { opacity: 0; }
    to { opacity: 1; }
}

.digitacao {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    .boxText {
        position: relative;
        width: $width-size;
        height: $height-size;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;

        @media only screen and (min-width: 767px) {
            width: 11em;
        }
        
        animation-name: digitar;
        animation-duration: 4.5s;
        animation-iteration-count: 1;
        
        .text {
            min-width: $width-size;
            font-size: $font-size;
        }
    }
    .barra {
        margin: -5px;
        margin-bottom: .2em;
        font-size: $font-size + .8em;
        color: white;
        font-weight: 300;
        
        animation-name: piscando;
        animation-duration: .4s;
        animation-iteration-count: infinite;
    }
}